.big-pic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    background: white;
    height: 200px;
    box-shadow: $shadow;
  }

  .big-pic {
    @include setGridLoc(1, 3, 1, 3);
    @include backgroundImg(url("../images/pic1.jpg"), center, cover);
    display: block;
    border-top-style: groove;
    border-top-width: 1px;
    border-bottom-style: groove;
    border-bottom-width: 1px;
  }